form#EventInfo .custom-group-Event_terms_and_conditions {
  display: none;
}

.crm-gdpr-terms-conditions div.label {
  height: 6em;
}

/* MV Gdpr Communication preference CSS */
.comm-pref-block .crm-form-select {
	width: 15%;
}
.groups-fieldset .content label{
	margin-left: 15px;
	margin-bottom: 15px;
}
.group-description {
	display: inline-block;
	margin: 1em 1em 1em 2.3em;
}
.group-channel-matrix {
	display: inline-block;
	padding-top: 10px;	
	padding-right: 10px;
	font-size: small;
}
.groups-fieldset .crm-error{
	display: none;
}
.groups-fieldset .crm-error-label{
	display: unset;
}	
/* END */